{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Nearby Amenities form</h2>
                <ul class="breadcrumb">

                    <li class="breadcrumb-item"><a href="/"><i class="la la-home"></i> IOM</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'municipality_available_ameni_list' available_type hlcit_code %}">Nearby Amenities</a></li>
                    {% if object %}
                        <li class="breadcrumb-item active">Edit form</li>

                        {% else %}
                        <li class="breadcrumb-item active">Add Nearby Amenity</li>

                    {% endif %}

                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="project-form">

        <div class="card">
            <div class="card-body">
                <form enctype="multipart/form-data" action="" method="post">
                    {% if error %}
                     <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error !</strong> {{error}}
                    </div>
                    {% endif %}

                    {% csrf_token %}

                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" id="id_name" {% if form.instance.name %} value="{{form.instance.name}}" {% endif %} required>
                    </div>


                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" name="op_type" class="form-control" id="id_op_type" {% if form.instance.op_type %} value="{{form.instance.op_type}}" {% endif %}>
                    </div>

                    <div class="form-group">
                        <label>Longitude</label>
                        <input type="text" name="longitude" class="form-control" id="id_longitude" {% if form.instance.location %} value="{{form.instance.longitude}}" {% endif %} required>
                    </div>

                     <div class="form-group">
                        <label>Latitude</label>
                        <input type="text" name="latitude" class="form-control" id="id_latitude" {% if form.instance.location %} value="{{form.instance.latitude}}" {% endif %} required>
                    </div>


                     <div class="form-group">
                        <label>Ward No.</label>
                        <input type="text" name="ward_no" class="form-control" id="id_ward_no" {% if form.instance.ward_no %} value="{{form.instance.ward_no}}" {% endif %}>
                    </div>

                     <div class="form-group">
                        <label>Contact</label>
                        <input type="text" name="phone_number" class="form-control" id="id_phone_number" {% if form.instance.phone_number %} value="{{form.instance.phone_number}}" {% endif %}>
                    </div>

                     <div class="form-group">
                        <label>Remarks</label>
                        <input type="text" name="comments" class="form-control" id="id_comments" {% if form.instance.comments %} value="{{form.instance.comments}}" {% endif %}>
                    </div>



                    <div class="form-footer pull-right">
                        <button type="submit" class="btn" role="button">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}