{% load static %}
<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Practical action dashboard.">
    <title>IOM</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Favicon-->
    <link rel="stylesheet" href="{% static 'dashboard/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/c3.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <!-- Data Tables -->
    <link rel="stylesheet" href="{% static 'dashboard/plugins/datatable/dataTables.bs4.css' %}"/>
    <link rel="stylesheet" href="{% static 'dashboard/plugins/datatable/dataTables.bs4-custom.css' %}"/>
    <!-- Custom Css -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">

    <style>
        .sidebar-tab{
            font-size:14px
        }

    </style>

</head>

<body class="">
<!-- Main Search -->
<div id="search">
    <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
    <form>
        <input type="search" value="" placeholder="Search..."/>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div class="navbar-right">
    <ul class="navbar-nav">
        <!--        <li><a href="#search" class="main_search" title="Search..."><i class="la la-search"></i></a></li>-->
        <li class="dropdown show">
            <a href="javascript:void(0);" class="dropdown-toggle" title="Notifications" data-toggle="dropdown"
               role="button" aria-expanded="true"><i class="la la-bell"></i>
                <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
            </a>
            <ul class="dropdown-menu slideUp2">
                <li class="header">Notifications</li>

                <li class="body">
                    <ul class="menu list-unstyled">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="menu-info">
                                    <h4>8 New Members joined</h4>
                                    <p><i class="la la-history"></i> 14 mins ago </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="menu-info">
                                    <h4><b>Shyam</b> changes project list</h4>
                                    <p><i class="la la-history"></i> 22 mins ago </p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="menu-info">
                                    <h4><b>Nancy Doe</b> add output</h4>
                                    <p><i class="la la-history"></i> 3 hours ago </p>
                                </div>
                            </a>
                        </li>


                    </ul>
                </li>
                <li class="footer">
                    <a href="javascript:void(0);">View All Notifications</a>
                </li>
            </ul>
        </li>
        <!---->
        <!--        <li><a href="javascript:void(0);" class="app_calendar" title="Calendar"><i class="la la-calendar"></i></a></li>-->
        <li class="dropdown">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button"
               aria-expanded="false"><i class="la la-cog"></i></a>
            <ul class="dropdown-menu slideUp2">
                <li class="body">
                    <ul class="menu list-unstyled">
                        <li>
                            <a href="javascript:void(0);">Change password</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">Change profile</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/logout" class="mega-menu" title="Sign Out"><i class="la la-power-off"></i></a></li>
    </ul>
</div>
<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="la la-navicon"></i></button>
        <a href="/dashboard/home"><img src="{% static 'dashboard/images/logo.png' %}" width="100"
                                       alt="Practical Action"></a>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    {% if user.image %}
                    <a class="image" href="/dashboard/home"><img src="{{ user.image.url }}" alt="User"></a>

                    {% else %}

                    <a class="image" href="/dashboard/home"><img src="{% static 'dashboard/images/pf.png' %}"
                                                                 alt="User"></a>

                    {% endif %}
                    <div class="detail">
                        <h4>{{user.name}}</h4>
                        <small>{{user.user.groups.all.0}}</small>
                    </div>
                </div>
            </li>
            <!--            <li><a href="javascript:void(0);" class="menu-toggle"><i class="la la-tasks"></i><span>Dashboard</span></a>-->

            </li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i class="la la-tasks"></i><span class="sidebar-tab">Manage Open Space</span></a>
                <ul class="ml-menu">
                    <li><a href="/dashboard/openspace-list"> View openspace </a></li>
                    <!--                    <li><a href="project-form.html">create Projects</a></li>-->
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i
                    class="la la-signal"></i><span class="sidebar-tab">Nearby Amenities Types</span></a>
                <ul class="ml-menu">
                    <li><a href="/dashboard/available-list">View Nearby Amenities</a></li>
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i
                    class="la la-object-group"></i><span class="sidebar-tab">Manage Report</span></a>
                <ul class="ml-menu">
                    <li><a href="/dashboard/report-list">View Report </a></li>

                </ul>
            </li>

            <li><a href="javascript:void(0);" class="menu-toggle"><i
                    class="la la-line-chart"></i><span class="sidebar-tab">EIA Questions</span></a>
                <ul class="ml-menu">
                    <li><a href="/dashboard/question-list">View EIA </a></li>
                    <!--                    <li><a href="/dashboard/questiondata-list">Question Data</a></li>-->
                </ul>
            </li>

            <li><a href="javascript:void(0);" class="menu-toggle"><i
                    class="la la-transgender-alt"></i><span class="sidebar-tab">Suggested Use Types</span></a>
                <ul class="ml-menu">
                    <li><a href="/dashboard/suggest-list">View Suggested Use </a></li>
                    <!--                    <li><a href="/dashboard/suggestdata-list/">Suggested Data List</a></li>-->
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i class="la la-sellsy"></i><span class="sidebar-tab">Onsite Amenities Types</span></a>
                <ul class="ml-menu">
                    <li><a href="/dashboard/service-list">View on site Amenities</a></li>
                    <!--                    <li><a href="/dashboard/servicedata-list">Service Data List</a></li>-->
                </ul>
            </li>
            <li><a href="javascript:void(0);" class="menu-toggle"><i class="la la-sellsy"></i><span class="sidebar-tab">Manage Resources</span></a>
                <ul class="ml-menu">
                    <li><a href="/dashboard/resource-list">View Resources </a></li>
                    <li><a href="/dashboard/resource-category-list">View Resources Categories</a></li>
                    <li><a href="/dashboard/resource-document-list">View Resources Documents Types</a></li>
                </ul>
            </li>

            <li><a href="javascript:void(0);" class="menu-toggle"><i class="la la-sellsy"></i><span class="sidebar-tab">Pagewise Contents </span></a>
                <ul class="ml-menu">
                    <!--                    <li><a href=''>Home Page</a></li>-->
                    <li>
                        <a href="javascript:void(1);" class="menu-toggle"><i
                                class="la la-sellsy"></i><span>Home Page</span></a>
                        <ul class="ml-menu">
                            <!--                            <li>-->
                            <!--                                <a href="javascript:void(1);" class="menu-toggle"><i class="la la-sellsy"></i><span>Header</span></a>-->
                            <!--                                <ul class="ml-menu">-->
                            <!--                                    <li><a href="/dashboard/service-list">Header List</a></li>-->
                            <!--                                </ul>-->
                            <!--                            </li>-->
                            <li><a href="/dashboard/header-list">Open Space Portal for Humanitarian Assistance</a></li>
                            <li><a href="/dashboard/slider-list">Slider</a></li>
                            <li><a href="/dashboard/openspace-definition-list">Open Space Definition</a></li>
                            <li><a href="/dashboard/openspace-identification-list">Open Space Identification Process</a>
                            </li>
                            <li><a href="/dashboard/openspace-identification-process-list">Open Space Identification
                                Process Images</a></li>
                            <li><a href="/dashboard/footer-list">Footer</a></li>
                        </ul>
                    </li>


                    <li>
                        <a href="javascript:void(1);" class="menu-toggle"><i
                                class="la la-sellsy"></i><span>App Page</span></a>
                        <ul class="ml-menu">
                            <li><a href="/dashboard/app-list">App List</a></li>
                        </ul>
                    </li>


                </ul>
            </li>


            {% if user.user.groups.all.0.name == 'super_admin' %}
            <li><a href="javascript:void(0);" class="menu-toggle"><i class="la la-lock"></i><span class="sidebar-tab">Manage User {{ user.user.groups.all.0 }}</span></a>
                <ul class="ml-menu">
                    <li><a href="/dashboard/create-user">Create User </a></li>

                </ul>
            </li>

            {% else %}




            {% endif %}


        </ul>
    </div>
</aside>

{% block content %}
{% endblock %}


<!-- Jquery Core Js -->
<script src="{% static 'dashboard/js/libscripts.bundle.js' %}"></script>
<!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="{% static 'dashboard/js/vendorscripts.bundle.js' %}"></script> <!-- slimscroll, waves Scripts Plugin Js -->
<script src="{% static 'dashboard/js/select2.min.js' %}"></script>
<script src="{% static 'dashboard/js/c3.bundle.js' %}"></script>
<script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
        integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
<!-- Data Tables -->
<script src="{% static 'dashboard/plugins/datatable/dataTables.min.js' %}"></script>

<!-- Custom Data tables -->
<script src="{% static 'dashboard/plugins/datatable/custom/custom-datatables.js' %}"></script>


<script src="{% static 'dashboard/js/mainscripts.bundle.js' %}"></script>

<script src="{% static 'dashboard/js/dateform.js' %}"></script>
<script src="{% static 'dashboard/js/custom.js' %}"></script>
{% block extra_js %}

{% endblock %}
</body>


</html>