
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> IOM</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'add_community_space_options' municipality.hlcit_code %}">Upload Options</a></li>
                    <li class="breadcrumb-item active">Bulk Upload Community Space</li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i>
                </button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary float-right right_icon_toggle_btn" type="button"><i
                        class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-form">
        <div class="card">
            <div class="card-body">
                <form enctype="multipart/form-data" method="post" action="">
                     {% if error %}
                     <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error !</strong> {{error}}
                    </div>
                    {% endif %}

                {% csrf_token %}
                    <div class="form-group">
                        <label for="id_province">Province </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 province_class" name="province" id="id_province"  data-placeholder="Select">
                                <option value="{{ municipality.province_id }}">{{ municipality.province__name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_district">District </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 district_class" name="district" id="id_district"  data-placeholder="Select">
                                <option value="{{ municipality.district_id }}">{{ municipality.district__name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_municipality">municipality </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 mun_class" name="municipality" id="id_municipality"  required data-placeholder="Select">
                                <option value="{{ municipality.id }}">{{ municipality.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Project Title</label>
                        <input type="text" name="project_title" class="form-control" id="id_project_title" required>
                    </div>

                    <div class="form-group">
                        <label for="id_description">Project Description</label>
                        <textarea class="form-control" name="description" cols="40" rows="10" id="id_description"></textarea>
                    </div>

                    <div class="form-group">
                        <h5>Upload Community Space Data (Point location)</h5>
                        <input type="file" name="community_space" required id="id_community_space"
                               data-behaviour="custom-upload-input" />

                         <a href="{% static 'community_space.xlsx' %}" class="btn"> <i
                                    class="la la-edit"> </i> View Templates</a>

                    </div>

                     <div class="form-group">
                        <h5>Upload Community Space Data (Boundary Zip Shapefile)</h5>
                        <input type="file" name="community_space_shp" required id="id_community_space_shp"
                               data-behaviour="custom-upload-input" />
                     </div>

                    <div class="form-footer pull-right">
                    <button type="submit" class="btn" role="button">Save</button>

                </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}
