
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
<!--                <h2>New Location </h2>-->
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i>IOM</a></li>
                    {% if object %}
                        <li class="breadcrumb-item"><a href="{% url 'list_eia_from_municipality' object.municipality.hlcit_code %}">Manage EIA</a></li>
                        <li class="breadcrumb-item active">Bulk Edit EIA in openspace</li>
                    {% else %}
                    <li class="breadcrumb-item"><a href="{% url 'list_eia_from_municipality' hlcit_code %}">Manage EIA</a></li>
                    <li class="breadcrumb-item active">Bulk Add EIA in openspace</li>
                    {% endif %}

                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i>
                </button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary float-right right_icon_toggle_btn" type="button"><i
                        class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-form">
        <div class="card">
            <div class="card-body">
                <form enctype="multipart/form-data" method="post" action="">
                     {% if error %}
                     <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error !</strong> {{error}}
                    </div>
                    {% endif %}

                {% csrf_token %}
                    <div class="form-group">
                        <label for="id_municipality">municipality </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 mun_class" name="municipality" id="id_municipality"  required data-placeholder="Select">
                                {% if form.instance.municipality %}
                                    <option value="{{ form.instance.municipality.id }}">{{ form.instance.municipality.name }}</option>
                                {% else %}
                                    <option value="{{ municipality.id }}">{{ municipality.name }}</option>

                                {% endif %}

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Data Source</label>
                        <input type="text" name="data_source" class="form-control" id="id_data_source" required {% if form.instance.data_source %} value="{{form.instance.data_source}}" {% endif %}>
                    </div>

                    <div class="form-group">
                            <h5>Upload excel file</h5>

                            <input type="file" name="eia" required id="id_eia"
                                   data-behaviour="custom-upload-input" />

                             <a href="{% static 'eia.xlsx' %}" class="btn"> <i
                                        class="la la-edit"> </i> View Templates</a>

                    </div>


                    <div class="form-footer pull-right">
                    <button type="submit" class="btn" role="button">Save</button>

                </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}
