{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Available Facility list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard/home"><i class="la la-home"></i> IOM</a></li>
                        <li class="breadcrumb-item">Available Facility</li>
                        <li class="breadcrumb-item active">Available Facility list</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
              <div class="">
                    <a class="btn float-right" href="{% url 'add_available_facility' available_type hlcit_code %}"><i class="la la-plus"></i> Add New Amenity</a>
             </div>
            <div class="card project_list">
                <div class="table-responsive">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <table id="Beneficiary_table" class="table table-hover c_table">
                        <thead>
                            <tr>
                                <th>S.N</th>
                                <th>Name</th>
                                <th>type</th>
<!--                                <th>operator type</th>-->
                                <th>district</th>
                                <th>municipality</th>
                                <th>ward no.</th>
<!--                                <th>Email</th>-->
                                <th>longitude</th>
                                <th>latitude</th>
                                <th>Contact</th>

                                <th>remarks</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in list %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.operator_type }}</td>
<!--                                <td>{{ data.operator_type }}</td>-->
                                <td>{{ data.district__name }}</td>
                                <td>{{ data.municipality__name }}</td>
                                <td>{{ data.ward_no }}</td>
<!--                                <td>{{ data.email }}</td>-->
                                <td>{{data.location.x}}</td>
                                <td>{{data.location.y}}</td>
                                <td>{{ data.phone_number }}</td>
                                <td>{{ data.comments }}</td>
                                <td class="table-action">
                                    <a href="/dashboard/delete/{{ model }}/{{ data.id }}/{{ url }}"
                                   onclick="return confirm('Are you sure you want to delete this item?');"
                                   class="btn remove"> <i class="la la-trash-o"></i> Delete</a>
                                    <a href="{% url 'update_available_facility' data.id %}" class="btn"> <i class="la la-edit"> </i> Edit</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
<!--                <div class="table-footer">-->
<!--                    <a class="btn float-right" href="/dashboard/available-add"><i class="la la-plus"></i> Add output</a>-->

<!--                </div>-->
            </div>
        </div>
    </div>
</section>
{% endblock %}