
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
<!--                <h2>New Location </h2>-->
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}"><i class="la la-home"></i> IOM</a></li>
                    <li class="breadcrumb-item active"><a href="{% url 'open_muni' %}">View Openspace</a></li>
                    <li class="breadcrumb-item active">New Location</li>
                </ul>
                <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i>
                </button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn btn-primary float-right right_icon_toggle_btn" type="button"><i
                        class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-form">
        <div class="card">
            <div class="card-body">
                <form enctype="multipart/form-data" method="post" action="">
                     {% if error %}
                     <div class="alert alert-danger alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Error !</strong> {{error}}
                    </div>
                    {% endif %}

                {% csrf_token %}
                    <div class="form-group">
                        <label for="id_province">Province </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 province_class" name="province" id="id_province"  data-placeholder="Select">
                                <option selected>--- Select Province  ---</option>
                                {% for province in provinces %}
                                <option value="{{ province.id }}">{{ province.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_district">District </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 district_class" name="district" id="id_district"  data-placeholder="Select">
                                <option>--- Select District First ---</option>
                                {% for district in districts %}
                                <option value="{{ district.id }}">{{ district.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_municipality">municipality </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 mun_class" name="municipality" id="id_municipality"  required data-placeholder="Select">
                                {% for municipality in municipalities %}
                                <option value="{{ municipality.id }}">{{ municipality.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Project Title</label>
                        <input type="text" name="project_title" class="form-control" id="id_project_title" required>
                    </div>

                    <div class="form-group">
                        <label>Project Description</label>
                        <textarea name="description" cols="40" rows="10" required="" id="id_description" spellcheck="false"></textarea>
<!--                        <input type="text" name="description" class="form-control" id="id_description">-->
                    </div>

                    <div class="form-group">
                            <h5>Upload Open Space Data (Point location)</h5>
<!--                            <label class="custom-upload__button" for="id_open_space" data-element="custom-upload-button">Upload CSV file</label><br>-->


                            <input type="file" name="open_space" required id="id_open_space"
                                   data-behaviour="custom-upload-input" />

                             <a href="{% static 'openspace.csv' %}" class="btn"> <i
                                        class="la la-edit"> </i> View Templates</a>


                    </div>

                     <div class="form-group">
                            <h5>Upload Open Space Data (Boundary Zip Shapefile)</h5>
<!--                            <label class="custom-upload__button" for="id_open_space_shp" data-element="custom-upload-button">Upload Boundary Shapefile (Polygon)</label>-->
                            <input type="file" name="open_space_shp" required id="id_open_space_shp"
                                   data-behaviour="custom-upload-input" />
                                 <a href="#" class="btn"> <i
                                            class="la la-edit"> </i> View Templates</a>
                        </div>


                    <div class="form-footer pull-right">
                    <button type="submit" class="btn" role="button">Save</button>

                </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}
