{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Openspace form</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="la la-home"></i> IOM</a></li>
                    <li class="breadcrumb-item active">Add form</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
            </div>
        </div>
    </div>
    <div class="project-form">

        <div class="card">
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.name|title }} {{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        <label for="id_title">Title</label>
                        <input  class="form-control" type="text" name="title" maxlength="1000" required id="id_title">
                    </div>
                    <div class="form-group">
                        <label for="id_description">Description</label>
                        <textarea class="form-control" name="description" cols="40" rows="10" id="id_description"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="id_issue">Issue</label>
                        <input  class="form-control" type="text" name="issue" maxlength="1000" id="id_issue">
                    </div>


                    <div class="form-group">
                        <label for="id_current_land_use">Current land use:</label>
                        <textarea class="form-control" name="current_land_use" cols="40" rows="10" id="id_current_land_use"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="id_catchment_area">Catchment area</label>
                        <input  class="form-control" type="text" name="catchment_area" maxlength="1000" id="id_catchment_area">
                    </div>

                    <div class="form-group">
                        <label for="id_ownership">Ownership</label>
                        <input  class="form-control" type="text" name="ownership" maxlength="1000" id="id_ownership">
                    </div>

                    <div class="form-group">
                        <label for="id_elevation">Elevation</label>
                        <input  class="form-control" type="text" name="elevation" maxlength="1000" id="id_elevation">
                    </div>

                    <div class="form-group">
                        <label for="id_access_to_site">Access to site</label>
                        <input  class="form-control" type="text" name="access_to_site" maxlength="1000" id="id_access_to_site">
                    </div>

                     <div class="form-group">
                        <label for="id_special_feature">Special feature</label>
                        <textarea class="form-control" name="special_feature" cols="40" rows="10" id="id_special_feature"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="id_address">Address</label>
                        <input  class="form-control" type="text" name="address" maxlength="1000" id="id_address">
                    </div>



                    <div class="form-group">
                        <label for="id_province">Province </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 province_class" name="province" id="id_province"  data-placeholder="Select">
                                <option selected>--- Select Province  ---</option>
                                {% for province in provinces %}
                                <option value="{{ province.id }}">{{ province.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_district">District </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 district_class" name="district" id="id_district"  data-placeholder="Select">
                                <option>--- Select Province First ---</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_municipality">municipality </label>
                        <div class="select-option">
                            <select class="custom-select show-tick ms select2 mun_class" name="municipality" id="id_municipality"  data-placeholder="Select">
                                <option>--- Select District First ---</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="id_ward">Ward</label>
                        <input  class="form-control" type="text" name="ward" maxlength="1000" id="id_ward">
                    </div>

                    <div class="form-group">
                        <label for="id_capacity">Capacity</label>
                        <input  class="form-control" type="number" name="capacity" value="0" step="any" id="id_capacity">
                    </div>

                    <div class="form-group">
                        <label for="id_total_area">Total area</label>
                        <input  class="form-control" type="number" name="total_area" step="any" id="id_total_area">
                    </div>

                    <div class="form-group">
                        <label for="id_usable_area">Usable area</label>
                        <input  class="form-control" type="text" name="usable_area" maxlength="1000" id="id_usable_area">
                    </div>

                    <div class="form-group">
                        <label for="id_geoserver_url">Geoserver Url</label>
                        <input  class="form-control" type="text" name="geoserver_url" maxlength="1000" id="id_geoserver_url">
                    </div>

                    <div class="form-group">
                        <label for="id_layername">Layername</label>
                        <input  class="form-control" type="text" name="layername" maxlength="1000" id="id_layername">
                    </div>

                    <div class="form-group">
                        <label for="id_workspace">Workspace</label>
                        <input  class="form-control" type="text" name="workspace" maxlength="1000" id="id_workspace">
                    </div>


                    <label for="id_image">Image:</label>

                                <input class="form-control" id="id_image" name="image" type="file">


                    <div class="form-footer pull-right">
                        <button type="submit" class="btn" role="button">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}