{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Open Space list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard/home"><i class="la la-home"></i> IOM</a></li>
                        <li class="breadcrumb-item">Open Space Data</li>
                        <li class="breadcrumb-item active">View Open Space</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i>
                    </button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn float-right right_icon_toggle_btn" type="button"><i
                            class="la la-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="">
<!--                    <a class="btn float-right" href="/dashboard/openspace-add"><i class="la la-plus"></i> Add Open Space</a>-->
<!--                    <a class="btn float-right" href="/dashboard/bulk_open_space_upload"><i class="la la-plus"></i>Upload Open Space</a>-->
<!--                    <a class="btn float-right" href="/dashboard/upload-shapefile"><i class="la la-plus"></i> Upload Shapefilee</a>-->
                    <a class="btn float-right" href="{% url 'add_new_location' %}"><i class="la la-plus"></i> Add New Location</a>

            </div>
            <div class="card project_list">
                <div class="table-responsive">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <table id="Beneficiary_table" class="table table-hover c_table">
                        <thead>
                        <tr>

                            <th>S.N</th>
                            <th>Province</th>
                            <th>Municipality</th>
                            <th>Open Space Data</th>
                            <th>Community Space Data</th>
                            <th>EIA Table</th>
                            <th>Nearby Amenities</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for municipality in list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><span style="display: block;width:270px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{ municipality.province__name }}</span></td>
                            <td><span style="display: block;width:270px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">{{ municipality.municipality__name }}</span></td>
                            <td>
                                <a href="/dashboard/openspace-list/{{ municipality.municipality__hlcit_code }}" class="btn "> <i
                                        class="la la-edit"> </i> Manage Open Space Data</a>
                            </td>
                            <td>
                                <a href="/dashboard/community-space-list/{{ municipality.municipality__hlcit_code }}" class="btn "> <i
                                        class="la la-edit"> </i> Manage Community Space Data</a>
                            </td>
                            <td>
                                <a href="{% url 'list_eia_from_municipality' municipality.municipality__hlcit_code %}" class="btn "> <i
                                        class="la la-edit"> </i> Manage EIA Table</a>
                            </td>
<!--                            <td>-->
<!--                                <a href="/dashboard/available-list/" class="btn"> <i-->
<!--                                    class="la la-edit"> </i> Manage on site Amenities</a>-->
<!--                            </td>-->
<!--                            -->
                            <td>
                                <a href="{% url 'municipality_amenity_type' municipality.municipality__hlcit_code %}" class="btn"> <i
                                    class="la la-edit"> </i> Manage Nearby Amenities</a>
                            </td>

                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}