{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Report list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard/home"><i class="la la-home"></i> IOM</a></li>
                        <li class="breadcrumb-item">Encroachment Reports</li>
                        <li class="breadcrumb-item active">View Report</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i>
                    </button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn float-right right_icon_toggle_btn" type="button"><i
                            class="la la-arrow-right"></i></button>
                </div>
            </div>
        </div>
<!--        <select id="open_space">-->
<!--            {% for open_space in open_spaces %}-->
<!--                <option value="blore">{{open_space.title}}</option>-->
<!--            {% endfor %}-->
<!--        </select>-->

<!--        <input type="radio" id="pending" name="status" value="pending">-->
<!--        <label for="pending">pending</label>-->
<!--        <input type="radio" id="replied" name="gender" value="replied">-->
<!--        <label for="replied">replied</label><br>-->
<!--        <div class="container-fluid">-->
            
            <div class="card project_list">
                <div class="table-responsive">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <table id="Beneficiary_table" class="table table-hover c_table">
                        <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>message</th>
                            <th>urgency</th>
                            <th>Status</th>
                            <th>open space</th>
                            <th>reported by</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in list %}
                        <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.title }}</td>
                            <td>{{data.date}}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.message }}</td>
                            <td>
                                {% if data.urgency == 'high' %}
                                <span style="color:#d67a7a;">
                                        {% else %}
                                        <span style="color:#53c1bd;">
                                        {% endif %}
                                        <b>{{ data.urgency }}</b>
                                    </span>
                            </td>
                            <td>
                                {% if data.status == 'pending' %}
                                <span style="color:#f12280;">
                                        {% else %}
                                        <span style="color:#2daf6e;">
                                        {% endif %}
                                        <b>{{ data.status }}</b>
                                    </span>
                            </td>
                            <td>{{ data.open_space }}</td>
                            <td>{{ data.reported_by }}</td>
                            <td class="table-action">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#exampleModalCenter{{ data.id }}">
                                   View
                                </button>
                                {% if data.is_published %}

                                <a href="/dashboard/publish_report/{{ data.id }}"
                                   onclick="return confirm('Are you sure you want to continue?');" class="btn"> <i
                                        class="la la-ban"> </i> Not Publish</a>

                                {% else %}

                                <a href="/dashboard/activate/{{ data.user.id }}"
                                   onclick="return confirm('Are you sure you want to continue?');"
                                   class="btn remove"> <i class="la la-trash-o"></i> Publish</a>


                                {% endif %}
                            </td>

                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter{{ data.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{data.title}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                    <form enctype="multipart/form-data" method="POST" action={% url "reply-report" %}>
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="id_issue">Openspace</label>
                                            <input class="form-control" type="text"  value="{{ data.open_space }}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="id_issue">Message</label>
                                             <textarea class="form-control"  cols="20" rows="5"  readonly>{{ data.message }}</textarea>
                                        </div>


                                        <div class="form-group">
                                            <label for="id_issue">Address</label>
                                            <input class="form-control" type="text"  value="{{ data.name }}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="id_issue">Urgency</label>
                                            <input class="form-control" type="text"  value="{{ data.urgency }}" readonly>
                                        </div>

                                        <div class="form-group">
                                            <label for="id_issue">Status</label>
                                            <input class="form-control" type="text"  value="{{ data.status }}" readonly>
                                        </div>


                                         <div class="form-group">
                                            <label for="id_issue">Reported By</label>
                                            <input class="form-control" type="text" name="name"  value="{{ data.reported_by }}" readonly>
                                        </div>


                                        <input class="form-control" type="text"  name="token"  value="{{ data.token }}" hidden>
                                        <input class="form-control" type="text"  name="id"  value="{{ data.id }}" hidden>
                                        <input class="form-control" type="text" name="title"   value="{{ data.title }}" hidden>


                                        <div class="form_image" style="margin-left:160px">
                                            {% if data.image %}
                                            <img src="{{ data.image.url }}" alt="org" height="157px" width="224px"/>
                                            {% else %}
                                            <img src="{% static 'dashboard/images/organization.svg' %}" height="157px"
                                                 width="224px" alt="org"/>
                                            {% endif %}
                                        </div>

                                        <div class="form-group">
                                            <label for="id_issue">Reply</label>
                                            {% if data.reply %}
                                             <textarea class="form-control" name="reply"  cols="20" rows="5"  readonly>{{ data.reply }}</textarea>
                                            {% else %}
                                            <textarea class="form-control" name="reply"  cols="20" rows="5"  ></textarea>
                                            {% endif %}

                                        </div>



                                    </div>



                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Reply</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- modal end-->
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <!--                <div class="table-footer">-->
                <!--                    <a class="btn float-right" href="output-form.html"><i class="la la-plus"></i> Add output</a>-->

                <!--                </div>-->
            </div>
        </div>
    </div>


</section>
{% endblock %}