{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Resource list</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard/home"><i class="la la-home"></i> IOM</a></li>
                        <li class="breadcrumb-item">Manage Resources</li>
                        <li class="breadcrumb-item active">View Resources</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i>
                    </button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn float-right right_icon_toggle_btn" type="button"><i
                            class="la la-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="">
            <a class="btn float-right" href="/dashboard/resource-add/"><i class="la la-plus"></i> Add Resource</a>

        </div>
        <div class="container-fluid">
            <div class="card project_list">
                <div class="table-responsive">
                    <table id="Beneficiary_table" class="table table-hover c_table">
                        <thead>
                        <tr>
                            <th>S.N</th>
                            <th>Title</th>
                            <th>description</th>
                            <th>category</th>
                            <th>document type</th>
                            <th>action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for data in list %}
                        <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.title }}</td>
                            <td>{{ data.description }}</td>
                            <td>{{ data.category }}</td>
                            <td>{{ data.document_type }}</td>
                            <td class="table-action">
                                <a href="/dashboard/delete/{{ model }}/{{ data.id }}/{{ url }}"
                                   onclick="return confirm('Are you sure you want to delete this item?');"
                                   class="btn remove"> <i class="la la-trash-o"></i> Delete</a>
                                <a href="/dashboard/resource-edit/{{ data.id }}" class="btn"> <i
                                        class="la la-edit"> </i> Edit</a>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}