{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->

<section class="content">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Slider form</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"><i class="la la-home"></i> IOM</a></li>
                    <li class="breadcrumb-item active">Update form</li>
                </ul>
                <button class="btn btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="project-form">

        <div class="card">
            <div class="card-body">
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ field.name|title }} {{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                    {% endif %}

                    <div class="form-group">
                        <p><label for="id_title">Title:</label> <input class="form-control" type="text" name="title" value="{{ form.instance.title }}" maxlength="100" required id="id_title"></p>
                        <p><label for="id_title_nep">Title nep:</label> <input class="form-control" type="text" name="title_nep" value="{{ form.instance.title_nep }}" maxlength="200" id="id_title_nep"></p>
<!--                        <p><label for="id_image">Image:</label> Currently: <a href="{{form.instance.image.url}}">{{form.instance.image.url}}</a>-->
<!--                        <input type="checkbox" name="image-clear" id="image-clear_id">-->
<!--                        <label for="image-clear_id">Clear</label><br>-->
<!--                        Change:-->
<!--<                       <input type="file" name="image" accept="image/*" id="id_image"></p>-->
                    </div>

                    <div class="form_image" style="margin-left:160px">
                        {% if form.instance.image %}
                        <img src="{{form.instance.image.url}}" alt="User"  height="350px" width="350px">
                        {% else %}
                        <img src="/static/dashboard/images/pf.png" alt="User" >
                        {% endif %}

                    </div>
                    <div class="custom-upload form-group">
                        <label class="custom-upload__button" for="id_icon" data-element="custom-upload-button">Choose
                            Icon </label>
                        <input class="custom-upload__input" id="id_icon" name="icon" type="file"
                               data-behaviour="custom-upload-input">

                    </div>

                    <div class="form-footer pull-right">
                        <button type="submit" class="btn" role="button">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

{% endblock %}