{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Main Content -->
<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Suggested Use Data </h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/dashboard/home"><i class="la la-home"></i> IOM</a></li>
                        <li class="breadcrumb-item">Suggested Use </li>
                        <li class="breadcrumb-item active">Suggested Use Data list</li>
                    </ul>
                    <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="la la-navicon"></i></button>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                    <button class="btn float-right right_icon_toggle_btn" type="button"><i class="la la-arrow-right"></i></button>
                </div>
            </div>
        </div>
        <div class="container-fluid">
              <div class="">
                    <a class="btn float-right" href="/dashboard/suggestdata-add/{{ open_space_id }}"><i class="la la-plus"></i> Add Suggested Use</a>

                </div>
            <h5 >{{ list.first.open_space.title }}</h5>
            <div class="card project_list">
                <div class="table-responsive">
                     {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissible">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                        <strong>Success!</strong> {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <table id="Beneficiary_table" class="table table-hover c_table">
                        <thead>
                            <tr>
<!--                                <th>S.N</th>-->
<!--                                <th>open space</th>-->
                                <th>suggested use</th>
                                <th>action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in list %}
                            <tr>
<!--                                <td>{{ data.id }}</td>-->
<!--                                <td>{{ data.open_space }}</td>-->
                                <td>{{ data.suggested_use }}</td>
                                <td class="table-action">
                                    <a href="/dashboard/delete/{{ model }}/{{ data.id }}/{{ url }}"
                                   onclick="return confirm('Are you sure you want to delete this item?');"
                                   class="btn remove"> <i class="la la-trash-o"></i> Delete</a>
                                    <a href="/dashboard/suggestdata-edit/{{ data.id }}/{{ data.open_space.id }}" class="btn"> <i class="la la-edit"> </i> Edit</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}