<html>
    <head>
        <title>ShapeEditor</title>
    </head>
    <body>
        <h1>Import Shapefile</h1>
        {% if errMsg %}
        <b><i>{{ errMsg }}</i></b>
        {% endif %}
        {% if form.errors %}
        <b>Sorry, the following error occurred:</b>
        <br/>
        {% endif %}
        <form enctype="multipart/form-data" method="post" action={% url "upload-shapefile" %}>
        {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit"/>
            <button type="button"
                onClick='window.location="/shape-editor";'>
                Cancel
            </button>
        </form>
    </body>
</html>

